

/* 
    Created on : 02/06/2017, 20:21:55
    Author     : Angelo
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    
}

/*
 CSS global
*/
.links{
    text-decoration: none;
    color: #2a3f54;
}
.painel-title hr{
    border-top: 1px solid #8eb3d3;
}



/****/


.painel-body{
    background-color: rgba(204, 204, 204, 0.2);
}

.header{
    background: rgba(0, 103, 113, 0.53);
    float: left;
    padding: 20px;
    width: 100%;
}
.logo{
    
}
img.logo-painel{
     width: 320px;
     padding-top: 20px;
     margin: -13px 47px;
}

/*topo*/
.content{
    float: left;
    background: rgba(221, 221, 221, 0.4);
    width: 100%;
}
.top-dashboard{
    width: 100%;
    float: left;
}
.user-dash{
    float: right;
    cursor: pointer;
    
}
img.user-dashboard{
    width: 50px;
    float: left;
    margin-top: 5px;
}
.user-name{
    float: left;
    margin: 20px 10px;
    font-weight: bold;
}
.user-dash span.caret{
     margin: 28px 10px;
}
/* // topo*/

/*Menu*/
.painel-navbar{
    background-color: rgba(51, 122, 183, 0.52);
    float: left;
    width: 100%;
    max-height: -1px;
}
ul.painel-itens-menu{
    margin: 0px 10px 0px 25px;
    float: left;
}
ul.painel-itens-menu li{
    display: inline;
}
ul.painel-itens-menu li a{
     font-size: 1.1em;
     color: #fff !important;
     font-weight: bold;
}
ul.painel-itens-menu a i{
    font-size: 1.6em;
    display: block;
    text-align: center;
}

/* Title*/
.painel-title{
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 10px;
}

/*Listagens*/
.painel-btn-add{
    background-color: #94b9d9;
    float: left;
    margin: 0px 0px 0px 10px;
}

.painel-cabecalho{
    font-size: 1.4em;
}
.edit{
    background: #94b9d9;
}
.eye{
    background: #3c763d;
}
.delete{
    background: #e65a5a
}


.actions delete{
    
}
.actions{
    padding: 8px;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 0px 2px;
    padding: 7px 12px;
    /* text-align: center; */
}
.actions:hover{
    text-decoration: none;
    color: #FFF;
}
.paginacao{
    float: left;
    margin: -20px 20px;
}
.form-search{
    padding: 0px 0px 20px;
}

/*FORMS*/
.painel-alinha-btns-forms{
    margin: 10px 20px;
}
.painel-label{
       display: block; 
}
.painel-input-size-25{
    max-width: 25%;
}
.painel-input-size-35{
    max-width: 85%;
}
.placeholder-right{
    text-align: right;
}



/* 
  Galeria produtos
*/

input[type="file"] {
  display: block;
}
.imageThumb {
    height: 230px;
    width: 280px;
    padding: 2px;
    cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 20px 0;


}
.remove {
    background: #ef0a0a;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 18px;
    margin: -25px 0 0 -10px;
    float: right;
    position: relative;
    opacity: 0.8;
}
.remove:hover {
  background: white;
  color: #ef0606;
  border: 1px solid #ef0606;
}
.titulo-imagem{
    margin-top: 20px;
    padding-right: 89px;
}
/* --*/


.painel-form-input{
    margin-top: 10px;
}



.painel-panel-logomarca{
    max-width: 35%;
    text-align: -webkit-center;
}
.rendereiza_logomarca{
    width: 150px;
    padding: 0px;
}
/*
   ConfiguraÃ§Ãµes
*/
.lista-configs{
    float: left;
    width: 100%;
    padding: 10px;
}

.opcoes-configs{
    background: #FFF;
    float: left;
    width: 100%;
    margin: 10px 0px;
    border-radius: 6px;
    height: 69px; 
    cursor:pointer;
}
.opcoes-configs i{
    font-size: 4em;
    float: left;
    background: #8eb3d3;
    color: #FFF;
    padding: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
    
}
.titulo-configs{
    float: left;   
}
.opcao-config{
    font-size: 0.8em;
    margin: 25px 15px;
    color : #000000;
}

/* 
    EMPRESA
*/
.logomarca{
    float: right;
    margin: 0px 30px 0px 0px;
}
.painel-panel{
    margin-top: 20px;
}


/*  BUSCA 
------------------------------*/
.msg-busca{
    margin-left: 10px;
}
.painel-btn-pesquisar{
    color: #fff;
    background-color: #94b9d9;
}
/* -----------------------------*/


form .ng-invalid-cep {
  border: solid 1px red;
}